<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>4 People 1 Story</title>

<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">	
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/css?family=Merriweather|Special+Elite" rel="stylesheet">
<!-- Optimized for Mobile -->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<!--Import css-->
<link rel="stylesheet" href="/css/style.css" type="text/css"/>

</head>	
<body>

	{{{ body }}}

</body>
</html>