<!DOCTYPE html>
<html>
<head>
</head>

<body>
  <!-- Navbar -->
  <div class="navbar-fixed">  
    <nav>
      <div class="nav-wrapper cyan darken-2">
        <a id="logo" class="brand-logo center white-text" href="/">4 People 1 Story</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse white-text"><i class="material-icons">menu</i></a>
        <!-- Links show on desktop -->
        <ul class="right hide-on-med-and-down">
          <li><a class="modal-trigger right white-text" href="#login-modal" >Login</a></li>
          <li><a class="modal-trigger right white-text" href="#sign-up-modal" >Sign Up</a></li>
          <li><a class="modal-trigger right white-text" href="#facebook-modal">Log In With Facebook!</a></li>
        </ul>  
      </div>
    </nav>
  </div>
  <div>
    <!-- Navbar Links That Appear on Mobile Devices...outside of navbar-fixed to avoid nesting issues-->
    <ul class="side-nav" id="mobile-demo">
      <li><a class="modal-trigger white-text" href="#login-modal" >Login</a></li>
      <li><a class="modal-trigger white-text" href="#sign-up-modal" >Sign Up</a></li>
    </ul>
  </div>

  <!-- Login Modal -->
  <div id="login-modal" class="modal blue-grey lighten-5">
    <div class="modal-content">
      <h1 class="modal-header">Have An Account?</h1>
      <p class="modal-text">Login To See Your Stories!</p>

      <form class="create-form" id="login-form" action="/api/users" method="POST">
        <div class="row">
          <div class="input-field col s12">
            <input id="email-login" type="email" name="emailLogin" class="validate">
            <label for="emailLogin">E-mail: </label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password-login" type="password" name="passwordLogin" class="validate">
            <label for="passwordLogin">Password: </label>
          </div>
        </div> 
        <div class="row">
          <div class="input-field col s12">          
            <button class="btn waves-effect waves-light right" type="submit" name="action" id="loginSubmit">LOGIN</button>
          </div>
        </div>        
      </form>
    </div>
  </div>      

  <!-- Sign Up Modal -->
  <div id="sign-up-modal" class="modal">
    <div class="modal-content">
      <h1>Sign Up To Join A Story...</h1>
      <p>Or create your own!</p>

      <form class="create-form" id="signup-form" action="/api/newuser" method="POST">
        <div class="row">
          <div class="input-field col s12">
            <input id="usernameSignUp" type="text" class="validate">
            <label for="usernameSignUp">Username</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="emailSignUp" type="email" class="validate">
            <label for="emailSignUp">E-mail</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="passwordSignUp" type="password" class="validate">
            <label for="passwordSignUp">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <button class="btn waves-effect waves-light left" type="submit" name="action" id="signUpSubmit">SIGN UP</button>
          </div>
        </div>           
      </form>


    </div>
  </div>  

  <div id="facebook-modal" class="modal">
    <div class="modal-content">
      <h1>Log In With Facebook!</h1>

      <button class="btn waves-effect waves-light left" type="submit" name="action" id="facebook">Facebook</button>

    </div>
          
  </div>  

  <!--typewriter image -->
  <div class="container">
    <div class="row">
      <!-- Main Column -->
      <div class="container">
        <img class="responsive-img" src="/assets/images/typewriter.jpg" alt="typewriter"/>
      </div>
    </div>
  </div>          

  <!--Import jQuery-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <!--Import Materialize--> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <!--Import js-->
  <script type="text/javascript" src="./assets/js/app.js"></script>  

  <script type="text/javascript" src="./assets/js/cms.js"></script> 
</body>
</html>