<!DOCTYPE html>
<html>
<head>
</head>

<body>
  <div class="navbar-fixed">  
    <nav>
      <div class="nav-wrapper">
        <a id="logo" class="brand-logo swap left" href="/">4 People 1 Story</a>
        <ul id="nav-bar" class="right hide-on-med-and-down">
          <li><a class="modal-trigger right" href="#login-modal" >Login</a></li>
          <li><a class="modal-trigger right" href="#sign-up-modal" >Sign Up</a></li>          
        </ul>
      </div>
    </nav>
  </div>

  <!-- Login Modal -->
  <div id="login-modal" class="modal">
    <div class="modal-content">
      <h1>Have An Account?</h1>
      <p>Login To See Your Stories!</p>

      <form {{!-- class="create-form" action="/api/users" method="POST" --}}>
        <div class="row">
          <div class="input-field col s12">
            <input id="email-login" type="email" name="emailLogin" class="validate">
            <label for="emailLogin">E-mail: </label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password-login" type="password" name="passwordLogin" class="validate">
            <label for="passwordLogin">Password: </label>
          </div>
        </div> 
      </form>

      <div class="modal-footer">
        <button class="btn waves-effect waves-light left" type="submit" name="action" id="loginSubmit">LOGIN
        </button>
      </div>
    </div>
  </div>      

  <!-- Sign Up Modal -->
  <div id="sign-up-modal" class="modal">
    <div class="modal-content">
      <h1>Sign Up To Join A Story...</h1>
      <p>Or create your own!</p>

      <form class="create-form" action="/api/newuser" method="POST">
        <div class="row">
          <div class="input-field col s6">
              <input id="usernameSignUp" type="text" class="validate">
              <label for="usernameSignUp">Username</label>
          </div>
         </div>
         <div class="row">
            <div class="input-field col s12">
              <input id="emailSignUp" type="email" class="validate">
              <label for="emailSignUp">E-mail</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="passwordSignUp" type="password" class="validate">
              <label for="passwordSignUp">Password</label>
            </div>
          </div> 
      </form>

      <div class="modal-footer">
        <button class="btn waves-effect waves-light left" type="submit" name="action" id="signUpSubmit">SIGN UP
        </button>
      </div>
    </div>
  </div>  

<!--Import jQuery-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!--Import Materialize--> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<!--Import js-->
<script type="text/javascript" src="/js/app.js"></script>  
<script type="text/javascript" src="/js/crm.js"></script> 
</body>
</html>